<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>BookStash</title>
  <meta name="description" content="BookStash">
  <meta name="author" content="Mouli">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/51009021be.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fa fa-bookmark-o mr-2"></i>BookStash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Library<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Tools
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Resources</a>
            <a class="dropdown-item" href="#">Categories</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Tags</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if(!currentUser){ %>
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/register">Sign Up <span class="sr-only">(current)</span></a>
        </li>
        <% } else { %>
        <li class="nav-item active">
          <a class="nav-link" href="#">Signed In As <%= currentUser.username %> <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
        </li>
        <% } %>

      </ul>
      <!--     <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form> -->
    </div>
  </nav>

  <div class="container-fluid">
    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
    <% } %>
  </div>

  <div class="jumbotron">
    <h1 class="display-4 ml-5">Bookmarks Library</h1>
  </div>

  <div class="container-fluid">
    <div class="row mx-5">
      <div class="col-md-4">
        <!--  <p class="float-left mr-2">
          
        </p> -->
        <p class="float-left mr-3 my-1">
          <a class="btn btn-primary rounded-circle" data-toggle="collapse" href="#sidebar" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            <strong><i class='fas fa-align-justify'></i></strong>
          </a>
          <a class="btn btn-primary rounded-circle" href="/bookmarks/new" role="button">
            <strong><i class='fas fa-plus'></i></strong>
          </a>
        </p>
        <h1>Categories</h1>

        <% categories.forEach(function(category){ %>
        <div class="card mb-3" id="sidebar">
          <div class="card-body">
            <span class="">

              <h4 class="card-title mt-1"><i class="btn btn-outline-dark fas fa-folder mb-1 mr-2"></i><%=category.name%>
              </h4>
            </span>
            <p class="card-text mt-2"><%=category.description%></p>
          </div>
          <div class="card-footer">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <!-- <% if(currentUser) { %> -->
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <a type="button" class="btn btn-xs btn-warning" href="/bookmarks/<%=category._id %>/edit"><i
                    class="fas fa-pen-square mr-1"></i><strong>EDIT</strong></a>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Second group">
                <form class="delete-form" action="/bookmarks/<%=category._id %>/?_method=DELETE" method="POST">
                  <button class="btn btn-xs btn-danger"><i class="fa fa-remove"></i></button>
                </form>
                <!-- <% } %> -->
              </div>
              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-info btn-xs">
                  <a class="white" href="/bookmarks/<%= category._id %>"><i class="fas fa-angle-double-right"></i></a>
                </button>
              </div>
            </div>
            <p><%=category.author%></p>
          </div>
        </div>
        <% }); %>


      </div>